node_modules/
dist/

.env
.env.*
!.env.example

apps/pocketbase/pb_data/
apps/pocketbase/*.db
apps/pocketbase/*.db-shm
apps/pocketbase/*.db-wal

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
